# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
*.zip

# IDE
.vscode/
.kiro/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Secrets
*.pem
*.key
